:root{
  --white:#fff;
  --light-black:#282a36;
  --light-green:#4aed88;
  --light-green-hover:#2b824c;

  /* transition */
  --transition:all 0.3s ease-in-out ;
}

.home-page-wrapper {
 display: flex;
 align-items: center;
 justify-content: center;
 color:var(--white);
 height:100vh;
}
.form-wrapper {
  background-color: var(--light-black);
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  max-width: 90%;
}

footer {
  position: fixed;
  bottom: 8px;
}

footer  a {
  color:var(--light-green)
}

.input-group {
  display: flex;
  flex-direction: column;
}

.main-label {
  margin-bottom: 20px;
  margin-top: 0;
}

.home-page-logo {
  /* height:40px; */
  width:388px;
 height:180px;
 max-width: 100%;
  margin-bottom: 30px;
  object-fit: cover;
}

.input-box {
  padding: 10px;
border-radius: 5px;
outline: none;
border: none;
margin-bottom: 14px;
background: #eee;
font-size: 16px;
font-weight: bold;
}

.btn {
border: none;
padding: 10px;
border-radius: 5px;
font-size: 16px;
font-weight: bold;
cursor: pointer;
transition: var(--transition);
}

.join-btn,.leave-btn{
  background-color: var(--light-green);
  width: 100px;
  margin-left: auto;
}

.join-btn:hover, .leave-btn:hover{
  background-color: var(--light-green-hover);
}

.create-info {
  margin: 20px auto 0 auto;
  /* margin-top: 20px; */
}

.create-new-btn {
color: var(--light-green);
text-decoration: none;
border-bottom:  1px solid var(--light-green);
transition: var(--transition);
}

.create-new-btn:hover,footer a:hover {
  color:var(--light-green-hover);
  border-color:var(--light-green-hover);
  transition: var(--transition);
}


.main-wrap {
display: grid;
grid-template-columns: 230px 1fr;
height: 100vh;
}

.aside {
  background-color: #1c1e29;
  padding: 16px;
  color: var(--white);
  display: flex;
  flex-direction: column;
}

.aside-inner {
  flex: 1;
}

.clients-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
  flex-wrap: wrap;
}

.user-name {
  margin-top: 10px;
}

.logo-image {
    /* height:40px; */
    height: 120px;
   max-width: 100%;
}

.logo {
  border-bottom: 1px solid #424242;
  padding-bottom: 10px;
}

.leave-btn {
  margin-top: 20px;
  width: 100%;
}