:root{
  --white:#fff;
  --light-black:#282a36;
  --light-green:#4aed88;
  --light-green-hover:#2b824c;

  /* transition */
  --transition:all 0.3s ease-in-out ;
}

.home-page-wrapper {
 display: flex;
 align-items: center;
 justify-content: center;
 color:var(--white);
 height:100vh;
}
.form-wrapper {
  background-color: var(--light-black);
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  max-width: 90%;
}

footer {
  position: fixed;
  bottom: 8px;
}

footer  a {
  color:var(--light-green)
}

.input-group {
  display: flex;
  flex-direction: column;
}

.main-label {
  margin-bottom: 20px;
  margin-top: 0;
}

.home-page-logo {
  /* height:40px; */
  margin-bottom: 30px;
}

.input-box {
  padding: 10px;
border-radius: 5px;
outline: none;
border: none;
margin-bottom: 14px;
background: #eee;
font-size: 16px;
font-weight: bold;
}

.btn {
border: none;
padding: 10px;
border-radius: 5px;
font-size: 16px;
cursor: pointer;
transition: var(--transition);
}

.join-btn{
  background-color: var(--light-green);
  width: 100px;
  margin-left: auto;
}

.join-btn:hover{
  background-color: var(--light-green-hover);
}

.create-info {
  margin: 20px auto 0 auto;
  /* margin-top: 20px; */
}

.create-new-btn {
color: var(--light-green);
text-decoration: none;
border-bottom:  1px solid var(--light-green);
transition: var(--transition);
}

.create-new-btn:hover,footer a:hover {
  color:var(--light-green-hover);
  border-color:var(--light-green-hover);
  transition: var(--transition);
}